<form class="row needs-validation" action="/book/<%= book.id%>" method="post" novalidate enctype="multipart/form-data">
    <div class="modal-content">
        <div class="search-header text-center">
            <h2 class="text-center">Update Book</h2>
        </div>
        <div class="modal-body">
            <div class="col-12">
                <label for="title" class="form-label">Title</label>
                <input type="text" class="form-control input-lg" id="title" name="title" required
                    value="<%= book.title == null ? '' : book.title %>">
                <div class="invalid-feedback">
                    Please provide book title.
                </div>
            </div>
            <div class="col-12 mt-2">
                <label for="author" class="form-label">Author</label>
                <select name="author" type="select" class="form-select" required>
                    <option selected label="Select Author" value=""></option>
                    <% authors.forEach(author=> { %> <% if(author.id==book.author) { %>
                            <option selected label="<%= author.name %>" value="<%= author.id %>"></option>
                            <%} else {%>
                                <option label="<%= author.name %>" value="<%= author.id %>"></option>
                                <%} %>
                                    <%})%>
                </select>
                <div class="invalid-feedback">
                    Please provide author name.
                </div>
            </div>
            <div class="col-12 mt-2">
                <label for="publishDate" class="form-label">Publish date</label>
                <input type="date" class="form-select" id="publishDate" name="publishDate" required
                    value="<%= book.publishDate == null ? '' : book.publishDate.toISOString().split('T')[0] %>">
                <div class="invalid-feedback">
                    Please provide publish date.
                </div>
            </div>
            <div class="col-12">
                <label for="pageCount" class="form-label">Page Count</label>
                <input type="number" class="form-control" id="pageCount" name="pageCount" required
                    value="<%= book.pageCount == null ? '' : book.pageCount %>">
                <div class="invalid-feedback">
                    Please provide page count.
                </div>
            </div>
            <div class="col-12 mt-2">
                <label for="cover" class="form-label">Cover</label>
                <input id="custom-file-upload" type="file" class="form-control" id="cover" name="cover" required>
                <div class="invalid-feedback">
                    Please upload book cover.
                </div>
            </div>
            <div class="col-12">
                <label for="description" class="form-label">Description</label>
                <input type="text" class="form-control" id="description" name="description" required
                    value="<%= book.description == null ? '' : book.description %>">
                <div class="invalid-feedback">
                    Please provide description.
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <a href="/book"><button class="btn btn-secondary m-3" data-dismiss="modal"><i class="bi bi-x-circle"></i>
                    Close</button></a>
            <button type="submit" class="btn btn-primary"><i class="bi bi-save2"></i> Update</button>
        </div>
    </div>
</form>