<form class="row needs-validation">
    <div class="card">
        <div class="card-header">
            <img style="width:400px;height:600px;" src="<%= book.coverImagePath %>">
        </div>
        <div class="card-body">
            <h5 class="card-title">
                <%= book.title %>
            </h5>
            <p class="card-text">
                <%= book.description %>
            </p>
            <p class="card-text"><small class="text-muted">Author: <%= book.author.name %></small></p>
            <p class="card-text"><small class="text-muted">Publish Date: <%= book.publishDate.toDateString() %></small>
            </p>
            <p class="card-text"><small class="text-muted">Page Count: <%= book.pageCount %></small></p>
        </div>
        <div style="position: absolute; bottom: 10px; right:20px;">
            <a href="/book"><button type="button" class="btn btn-secondary m-3" data-dismiss="modal"><i
                        class="bi bi-x-circle"></i> Close</button></a>
            <a class="btn btn-primary text-right" href="/book/<%= book.id %>/edit"><i class="bi bi-pencil"></i> Edit</a>
        </div>
    </div>
</form>